/* Default Styles */
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.profilephoto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}
.profile h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}
.profile span {
    background: linear-gradient(270deg, #DF8908 10%, #B415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profileaction {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.connectwithprofile {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(270deg, #DF8908 10%, #B415ff 100%);
    cursor: pointer;
    margin-right: 10px;
}
.profileresume  a {
    color:white;
    text-decoration:none;
    padding: 18px 36px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.connectwithprofile:hover {
    border: 2px solid #fff;
}
.profileresume a:hover {
    border: 2px solid #B415ff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .profile h1 {
        font-size: 70px;
    }
    .profilephoto {
        height: 150px;
        width: 150px;
    }
    .profileaction {
        font-size: 20px;
    }
    .connectwithprofile {
        padding: 15px 30px;
    }
    .profileresume a {
        padding: 13px 26px;
    }
}

@media (max-width: 768px) {
    .profile h1 {
        font-size: 50px;
        width: 80%;
    }
    .profilephoto {
        height: 120px;
        width: 120px;
    }
    .profileaction {
        flex-direction: column;
        gap: 10px;
    }
    .connectwithprofile,
    .profileresume  a {
        width: 80%;
        text-align: center;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .profile h1 {
        font-size: 35px;
        width: 90%;
    }
    .profilephoto {
        height: 100px;
        width: 100px;
    }
    .profileaction {
        font-size: 18px;
    }
    .connectwithprofile {
        padding: 10px 20px;
    }
    .profileresume a {
        padding: 8px 18px;
    }
}
